*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #f87171;


    color:#bef264 ;

}
 h1 {
    color: #fde047;
 }
 h2 {
    color: #fde047;
 }
 h3 {
    color: #fde047;
 }